<!DOCTYPE html>
<html>
	<head>
		<title><%- title %></title>

		<!-- Viewport mobile tag for sensible mobile support -->
		<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1" />

      <!-- Some fonts! I love fonts. -->
      <link href='http://fonts.googleapis.com/css?family=Roboto:400,300,100' rel='stylesheet' type='text/css'>
		
		<!-- Stylesheets from your assets folder are included here -->
		<%- assets.css() %>
      <link rel="stylesheet" href="http://yui.yahooapis.com/pure/0.2.0/pure-min.css">
      <link rel="stylesheet" type="text/css" href="https://rawgithub.com/tilomitra/csstypography/master/css/typography-core.css"> 
      <link rel="stylesheet" type="text/css" href="https://rawgithub.com/tilomitra/csstypography/master/css/typography.css"> 
      <link rel="stylesheet" type="text/css" href="https://rawgithub.com/tilomitra/csstypography/master/css/typography-responsive.css">
	</head>

	<body>

		<%- body %>

		<!-- Templates from your view path are included here -->
		<%- assets.templateLibrary() %>
		<!-- Javascripts from your assets folder are included here -->
		<%- assets.js() %>
	</body>
</html>
