<%- partial('partials/nav') %>

<div id="content" class="pure-g-r">
   <div class="pure-u-1-3 pulls">
      <h2>Needs CR</h2>
      <% for(var i=0; i<pull.length; i++) { %>
        <% if (pull[i].st.cr < 2 /*require.cr*/) { %>
         <div class="pull needs-cr">
            <span><a href='<%= repo + "pull/" + pull[i].number %>'>#<%= pull[i].number %></a></span>
            <p><%= pull[i].name %></p>
            <ul class="inline-list">
               <li>
                  <strong>CR:</strong> <%= pull[i].st.cr %>
               </li>
               <li>
                  <strong>QA:</strong> <%= pull[i].st.qa %>
               </li>
            </ul>
         </div>
        <% } %>
      <% } %>
   </div>
   <div class="pure-u-1-3 pulls">
      <h2>Needs QA</h2>
      <% for(var i=0; i<pull.length; i++) { %>
        <% if (!pull[i].st.qa) { %>
         <div class="pull needs-qa">
            <span><a href='<%= repo + "pull/" + pull[i].number %>'>#<%= pull[i].number %></a></span>
            <p><%= pull[i].name %></p>
            <ul class="inline-list">
               <li>
                  <strong>CR:</strong> <%= pull[i].st.cr %>
               </li>
               <li>
                  <strong>QA:</strong> <%= pull[i].st.qa %>
               </li>
            </ul>
         </div>
        <% } %>
      <% } %>
   </div>
   <div class="pure-u-1-3 pulls">
      <h2>Good to go</h2>
      <% for(var i=0; i<pull.length; i++) { %>
        <% if (pull[i].st.cr > 1 && pull[i].st.qa) { %>
         <div class="pull good-to-go">
            <span><a href='<%= repo + "pull/" + pull[i].number %>'>#<%= pull[i].number %></a></span>
            <p><%= pull[i].name %></p>
            <ul class="inline-list">
               <li>
                  <strong>CR:</strong> <%= pull[i].st.cr %>
               </li>
               <li>
                  <strong>QA:</strong> <%= pull[i].st.qa %>
               </li>
            </ul>
         </div>
        <% } %>
      <% } %>
   </div>
</div>

